{
  "env": {
    "mocha": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "error"
  }
}
